/**
 * @file
 * Site theme overrides for Athletics.
 */

/* Front Page */
.front #block-bean-go-hawks {
  text-align: center;
  margin: 0 auto;
  padding: 0 2em;
}

.front #block-views-hawks-in-flight-hf {
  text-align: center;
}

.front #block-views-hawks-in-flight-hf img {
  max-width: 250px;
  max-height: 200px;
}

/* Rosters */
.view-id-rosters ul {
  margin: 0;
}

.roster-image-style {
  max-width: 120px;
}

.view-id-rosters ul.cols-2 li {
  width: 100%;
}

/* Hawks in Flight */
.view-hawks-in-flight .views-row {
  margin: 0 0 2em 0;
}

.view-hawks-in-flight .views-field-field-photo img {
  max-width: 250px;
  max-height: 200px;
}

/* Staff Profile Pages */
.node-staff-profile .field-name-field-staff-photo {
  max-width: 200px;
}

@media only screen and (min-width: 980px) {

  .view-id-rosters ul.cols-2 li {
    width: 50%;
  }

}
